
body{
	color:#3B3B3B;
}

span{
    float:left;
}


input{
    max-width:100%;
}


.inline-textbox label:before, .inline-textbox input[type=text]:before {
    content:none;
    cursor:default;
    position: absolute;
    display: inherit;
}
.inline-textbox input[type=text] {
   height: 1.8em;
}


textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 

input[type="color"]:focus{
	border-color:#A8CB17 !important;
	box-shadow:none;
}


.sub-headline{
	font-weight:500;
	margin:0;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.2em;
    text-decoration: underline;
}

label{
	font-weight:normal;
}

.form-inline{
	margin-bottom:10px;
}

.table-FixedSize {
     table-layout: fixed;
}
.table-WordWarp-small {
    word-wrap: break-word;
    min-width: 15px;
    max-width: 15px;
}


.inline{
	display:inline-block;
}
.in-line{
	display:inline !important;
}

.container {
    width:100%;
}
.main-content{
    margin:0;
}

.col-md-12{
    width:100%;
}
.tab-content{
    margin-top:10px;
    padding:16px 20px 40px;
}

.form-inline .form-group{
    margin-bottom:0;
}
.clear{
    clear:both;
}
select{
    max-width:100%;
}

.marginRight {
    margin-right: 15px;
}

.input-sm {
    height: 25px;
}

.input-short {
    width: 3em;
}


